<a href="https://colab.research.google.com/github/Jumbeba/python_collections/blob/main/Python_Collections1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
idades = [39, 30, 27, 18]

In [ ]:
type(idades)

list

In [ ]:
len(idades)

4

In [ ]:
idades[0]

39

In [ ]:
idades

[39, 30, 27, 18]

In [ ]:
print(idades[1])
print(idades[2])

30
27

In [ ]:
idades.append(15)

In [ ]:
idades[4]

15

In [ ]:
for idade in idades:
  print(idade)

39
30
27
18
15

In [ ]:
idades.remove(30)

In [ ]:
idades

[39, 27, 18, 15]

In [ ]:
idades.append(15)

In [ ]:
idades.remove(15)

In [ ]:
idades.append(27)
idades.remove(27)
idades

[39, 18, 15, 27]

In [ ]:
idades.clear()

In [ ]:
idade

15

In [ ]:
idades

[]

In [ ]:
idades[2]

IndexError: ignored

In [ ]:
idades

[39, 30, 27, 18]

In [ ]:
28 in idades

False

In [ ]:
if 27 in idades:
  idades.remove(27)

In [ ]:
idades

[39, 30, 18]

In [ ]:
idades.append(19)

In [ ]:
idades.insert(0, 20)

In [ ]:
idades

[20, 39, 30, 18, 19]

In [ ]:
idades.append([27, 59])

In [ ]:
idades

[20, 39, 30, 18, 19, [27, 59]]

In [ ]:
for elemento in idades:
  print("Recebi o elemento", elemento)

Recebi o elemento 20
Recebi o elemento 39
Recebi o elemento 30
Recebi o elemento 18
Recebi o elemento 19
Recebi o elemento [27, 59]

In [ ]:
idade = [39, 30, 18]
idade.extend([27,19])
idade

[39, 30, 18, 27, 19]

In [ ]:
idade

[39, 30, 18, 27, 19]

In [ ]:
idade
idades

[20, 39, 30, 18, 19, [27, 59]]

In [ ]:
idades = None

In [ ]:
idades

In [ ]:
idade = idades

In [ ]:
idades

In [ ]:
idades = [39, 30, 18, 27, 19]

In [ ]:
for idade in idades:
  print(idade + 1)

40
31
19
28
20

In [ ]:
idades_no_ano_que_vem = []
for idade in idades:
  idades_no_ano_que_vem.append(idade+1)
idades_no_ano_que_vem

[40, 31, 19, 28, 20]

In [ ]:
idades_no_ano_que_vem = [(idade+1) for idade in idades]
idades_no_ano_que_vem

[40, 31, 19, 28, 20]

In [ ]:
def proximo_ano(idade):
  return idade+1

[proximo_ano(idade)for idade in idades if idade > 21]

[40, 31, 28]

In [ ]:
def faz_processamento_de_vizualizacao(lista):
  print(len(lista))
  lista.append(13)

In [ ]:
idades = [40, 31, 19, 28, 20]
faz_processamento_de_vizualizacao(idades)
idades

5

[40, 31, 19, 28, 20, 13]

In [ ]:
def faz_processamento_de_vizualizacao(lista = []):
  print(len(lista))
  lista.append(13)

In [ ]:
faz_processamento_de_vizualizacao()

0

In [ ]:
faz_processamento_de_vizualizacao

In [ ]:
faz_processamento_de_vizualizacao()

1

In [ ]:
def faz_processamento_de_vizualizacao(lista = None):
  if lista == None:
    lista = list()
  print(len(lista))
  print(lista)
  lista.append(13)

In [ ]:
faz_processamento_de_vizualizacao()

0
[]

In [ ]:
faz_processamento_de_vizualizacao()

0
[]

In [ ]:
faz_processamento_de_vizualizacao()

0
[]

# Objetos Próprios

In [ ]:
class ContaCorrente:
  def __init__(self, codigo):
    self.codigo = codigo
    self.saldo = 0

  def deposita(self, valor):
    self.saldo += valor

  def __str__(self):
    return "[>>Codigo {} Saldo {}<<]".format(self.codigo, self.saldo)

In [ ]:
conta_rafa = ContaCorrente(15)
print(conta_rafa)

[>>Codigo 15 Saldo 0<<]

In [ ]:
conta_rafa.deposita(500)
print(conta_rafa)

[>>Codigo 15 Saldo 1000<<]

In [ ]:
conta_karol = ContaCorrente(4568)
conta_karol.deposita(500)
print(conta_karol)

[>>Codigo 4568 Saldo 500<<]

In [ ]:
contas = [conta_rafa, conta_karol]
for conta in contas:
  print(conta)

[>>Codigo 15 Saldo 1000<<]
[>>Codigo 4568 Saldo 500<<]

In [ ]:
contas = [conta_karol, conta_rafa, conta_karol]

In [ ]:
print(contas[0])

[>>Codigo 4568 Saldo 500<<]

In [ ]:
conta_rafa.deposita(100)

In [ ]:
print(conta_rafa)

[>>Codigo 15 Saldo 1100<<]

In [ ]:
print(contas[2])

[>>Codigo 4568 Saldo 500<<]

In [ ]:
contas[2].deposita(500)

In [ ]:
print(conta_rafa)

[>>Codigo 15 Saldo 1100<<]

In [ ]:
print(conta_karol)

[>>Codigo 4568 Saldo 1000<<]

In [ ]:
def deposita_para_todas(contas):
  for conta in contas:
    conta.deposita(100)

contas = [conta_karol, conta_rafa]
print(contas[0], contas[1])
deposita_para_todas(contas)
print(contas[0], contas[1])

[>>Codigo 4568 Saldo 1000<<] [>>Codigo 15 Saldo 1100<<]
[>>Codigo 4568 Saldo 1100<<] [>>Codigo 15 Saldo 1200<<]

In [ ]:
contas.insert(0, 76)
print(contas[0], contas[1], contas[2])

76 76 76

In [ ]:
rafa = ('Rafa', 25, 1996)
karol = ('Karol', 23, 1998)

In [ ]:
# conta_rafa.deposita() é uma variação OO

def deposita(conta): #é uma variação FUNCIONAL (separando o comportamento dos dados)
    novo_saldo = conta[1] + 100
    codigo = conta[0]
    return (codigo, novo_saldo)

In [ ]:
usuarios= [karol, rafa]
usuarios

[('Karol', 23, 1998), ('Rafa', 25, 1996)]

In [ ]:
usuarios.append('Jose', 51, 1980)
usuarios

TypeError: ignored

# Herança e Polimorfismo

In [69]:
from abc import ABCMeta, abstractmethod

class Conta(metaclass=ABCMeta):
  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0

  def deposita(self, valor):
    self._saldo += valor

  @abstractmethod
  def passa_o_mes(self):
    pass

  def __str__(self):
    return "[>>Codigo {} Saldo {}<<]".format(self._codigo, self._saldo)

In [70]:
print(Conta(88))

TypeError: ignored

In [72]:
class ContaCorrente(Conta):

  def passa_o_mes(self):
    self._saldo -= 2

class ContaPoupanca(Conta):

  def passa_o_mes(self):
    self._saldo *= 1.01
    self._saldo -= 3

class ContaInvestimento(Conta):
  pass

In [73]:
ContaInvestimento(321)

TypeError: ignored

In [49]:
conta16 = ContaCorrente(16)
conta16.deposita(1000)
conta16.passa_o_mes()
print(conta16)

[>>Codigo 16 Saldo 998<<]

In [52]:
conta17 = ContaPoupanca(17)
conta17.deposita(1000)
conta17.passa_o_mes()
print(conta17)

[>>Codigo 17 Saldo 1007.0<<]

In [75]:
conta16 = ContaCorrente(16)
conta16.deposita(1000)
conta17 = ContaPoupanca(17)
conta17.deposita(1000)
contas = [conta16, conta17]

for conta in contas:
  conta.passa_o_mes() # duck type
  print(conta)

[>>Codigo 16 Saldo 998<<]
[>>Codigo 17 Saldo 1007.0<<]

#**evitaremos usar array puro**, se precisamos de trabalho numérico, usamos o numpy

In [59]:
import array as arr

arr.array('d', [1, 3.5]) #precisa idetificar o tipo de array

array('d', [1.0, 3.5])

Usaremos o Numpy para substituir o array nas tarefas que utilizam arrays e matrizes para obter uma melhor desempenho

In [61]:
!pip install numpy

Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (1.19.5)

In [62]:
import numpy as np

numeros = np.array([1, 3.5])
numeros

array([1. , 3.5])

In [65]:
numeros + 3

array([4. , 6.5])

In [80]:
class ContaSalario:

  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0

  def deposita(self, valor):
    self._saldo += valor

  def __str__(self):
    return "[>>Codigo {} Saldo {}<<]".format(self._codigo, self._saldo)

In [98]:
conta1 = ContaSalario(37)
print(conta1)

[>>Codigo 37 Saldo 0<<]

In [99]:
conta2 = ContaSalario(37)
print(conta2)

[>>Codigo 37 Saldo 0<<]

In [100]:
contas = [conta1]
conta1 in contas

True

In [101]:
conta2 in contas

True

In [112]:
class ContaSalario:

  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0

  def __eq__(self, outro):
    if type(outro) != ContaSalario:
      return False
      self._codigo == outro._codigo and self._saldo == outro._saldo

  def deposita(self, valor):
    self._saldo += valor

  def __str__(self):
    return "[>>Codigo {} Saldo {}<<]".format(self._codigo, self._saldo)

In [113]:
conta1 = ContaSalario(37)
conta2 = ContaSalario(37)
conta1 == conta2

True

In [114]:
conta1 != conta2

False

In [115]:
conta1 in [conta2]

True

In [116]:
conta2 in [conta1]

True

In [117]:
 conta1.deposita(10)

In [118]:
conta1 == conta2

False

In [120]:
class ContaSalario:

  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0

  def __eq__(self, outro):
    if type(outro) != ContaSalario:
      return False

      return self._codigo == outro._codigo and self._saldo == outro._saldo

  def deposita(self, valor):
    self._saldo += valor

  def __str__(self):
    return "[>>Codigo {} Saldo {}<<]".format(self._codigo, self._saldo)

class ContaMultiploSalario(ContaSalario):
  pass

In [123]:
isinstance(ContaCorrente(34), ContaCorrente) #Verificação genêrica

True

In [124]:
isinstance(ContaCorrente(34), Conta)

True

Builtins como enumerated, range e desempacotamento automatico de tuplas

In [129]:
idades = [15, 87, 37, 65, 56, 32, 49, 37]

for i in range(len(idades)):
  print(i, idades[i])

0 15
1 87
2 37
3 65
4 56
5 32
6 49
7 37

In [136]:
range(len(idades)) # lazy...

range(0, 8)

In [139]:
enumerate(idades) # lazy

In [141]:
list(range(len(idades))) # forcei a geração dos valores

[0, 1, 2, 3, 4, 5, 6, 7]

In [144]:
list(enumerate(idades)) # gerador forçado, tudo de uma vez

[(0, 15), (1, 87), (2, 37), (3, 65), (4, 56), (5, 32), (6, 49), (7, 37)]

In [152]:
for indice, idade in enumerate(idades):   # Desempacotando um por vez (lazy)
  print(indice, "-", idade)

0 - 15
1 - 87
2 - 37
3 - 65
4 - 56
5 - 32
6 - 49
7 - 37

In [149]:
usuarios = [
            ("Rafa", 25, 1996),
            ("Karol", 23, 1998),
            ("Lele", 6, 2015)
]

for nome, idade, nascimento in usuarios: # já desempacotado
  print(nome)

Rafa
Karol
Lele

In [151]:
for nome, _, _ in usuarios: # já desempacotado, ignorando o resto
  print(nome)

Rafa
Karol
Lele

In [153]:
idades

[15, 87, 37, 65, 56, 32, 49, 37]

In [160]:
sorted(idades) # Para ordenar em ordem numerica (ordena no próprio lugar, sem mexer nos outros pontos onde a lista está sendo chamada.)

[15, 32, 37, 37, 49, 56, 65, 87]

In [163]:
sorted(idades, reverse=True) # Para ordenar em ordem numerica inversa

[87, 65, 56, 49, 37, 37, 32, 15]

In [159]:
list(reversed(sorted(idades))) # Ordenar em ordem inversa2

[87, 65, 56, 49, 37, 37, 32, 15]

In [164]:
idades.sort() # Para ordenar a lista no local da origem, alterando em todos os outros pontos

In [165]:
idades

[15, 32, 37, 37, 49, 56, 65, 87]

In [168]:
nomes = ["Rafa", "Lele", "Karol"]
sorted(nomes)

['Karol', 'Lele', 'Rafa']

In [169]:
nomes = ["Rafa", "Lele", "karol"] # Diferenciação de orgenação por letra minuscula tbm
sorted(nomes)

['Lele', 'Rafa', 'karol']

In [172]:
class ContaSalario:

  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0

  def __eq__(self, outro):
    if type(outro) != ContaSalario:
      return False

    return self._codigo == outro._codigo and self._saldo == outro._saldo

  def deposita(self, valor):
    self._saldo += valor

  def __str__(self):
    return "[>>Codigo {} Saldo {}<<]".format(self._codigo, self._saldo)

class ContaMultiploSalario(ContaSalario):
  pass

In [173]:
conta_salario_rafa = ContaSalario(13)
conta_salario_rafa.deposita(500)

conta_salario_karol = ContaSalario(15)
conta_salario_karol.deposita(1000)

conta_salario_lele = ContaSalario(1)
conta_salario_lele.deposita(510)

contas = [conta_salario_karol, conta_salario_lele, conta_salario_rafa]

In [174]:
for conta in contas:
  print(conta)

[>>Codigo 15 Saldo 1000<<]
[>>Codigo 1 Saldo 510<<]
[>>Codigo 13 Saldo 500<<]

In [175]:
sorted(contas)

TypeError: ignored

In [177]:
def extrai_saldo(conta): # ordenando pelo saldo
  return conta._saldo
for conta in sorted(contas, key=extrai_saldo):
  print(conta)

[>>Codigo 13 Saldo 500<<]
[>>Codigo 1 Saldo 510<<]
[>>Codigo 15 Saldo 1000<<]

In [178]:
# Acessando o atributo _saldo indiretamente através to attrgetter

from operator import attrgetter

for conta in sorted(contas, key=attrgetter("_saldo")): 
  print(conta)

[>>Codigo 13 Saldo 500<<]
[>>Codigo 1 Saldo 510<<]
[>>Codigo 15 Saldo 1000<<]

In [180]:
class ContaSalario:

  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0

  def __eq__(self, outro):
    if type(outro) != ContaSalario:
      return False

    return self._codigo == outro._codigo and self._saldo == outro._saldo

  def __lt__(self, outro):
    return self._saldo < outro._saldo

  def deposita(self, valor):
    self._saldo += valor

  def __str__(self):
    return "[>>Codigo {} Saldo {}<<]".format(self._codigo, self._saldo)

class ContaMultiploSalario(ContaSalario):
  pass

In [181]:
conta_salario_rafa = ContaSalario(13)
conta_salario_rafa.deposita(500)

conta_salario_karol = ContaSalario(15)
conta_salario_karol.deposita(1000)

conta_salario_lele = ContaSalario(1)
conta_salario_lele.deposita(510)

contas = [conta_salario_karol, conta_salario_lele, conta_salario_rafa]

In [182]:
conta_salario_karol > conta_salario_rafa

True

In [183]:
conta_salario_karol < conta_salario_rafa

False

In [186]:
for conta in sorted(contas, reverse=True):
  print(conta)

[>>Codigo 15 Saldo 1000<<]
[>>Codigo 1 Saldo 510<<]
[>>Codigo 13 Saldo 500<<]

In [197]:
conta_salario_rafa = ContaSalario(1300)
conta_salario_rafa.deposita(500)

conta_salario_karol = ContaSalario(15)
conta_salario_karol.deposita(500)

conta_salario_lele = ContaSalario(10)
conta_salario_lele.deposita(500)

contas = [conta_salario_karol, conta_salario_lele, conta_salario_rafa]

In [190]:
for conta in sorted(contas, key=attrgetter("_saldo", "_codigo")): 
  print(conta)

[>>Codigo 10 Saldo 500<<]
[>>Codigo 15 Saldo 500<<]
[>>Codigo 1300 Saldo 500<<]

In [202]:
class ContaSalario:

  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0

  def __eq__(self, outro):
    if type(outro) != ContaSalario:
      return False

    return self._codigo == outro._codigo and self._saldo == outro._saldo

  def __lt__(self, outro):
    if self._saldo != outro._saldo:
      return self._saldo < outro._saldo
    
    return self._codigo < outro._codigo

  def deposita(self, valor):
    self._saldo += valor

  def __str__(self):
    return "[>>Codigo {} Saldo {}<<]".format(self._codigo, self._saldo)

class ContaMultiploSalario(ContaSalario):
  pass

In [203]:
conta_salario_rafa = ContaSalario(1300)
conta_salario_rafa.deposita(500)

conta_salario_karol = ContaSalario(15)
conta_salario_karol.deposita(500)

conta_salario_lele = ContaSalario(10)
conta_salario_lele.deposita(500)

contas = [conta_salario_karol, conta_salario_lele, conta_salario_rafa]

In [204]:
for conta in sorted(contas): 
  print(conta)

[>>Codigo 10 Saldo 500<<]
[>>Codigo 15 Saldo 500<<]
[>>Codigo 1300 Saldo 500<<]

In [205]:
conta_salario_rafa = ContaSalario(1300)
conta_salario_rafa.deposita(500)

conta_salario_karol = ContaSalario(15)
conta_salario_karol.deposita(1000)

conta_salario_lele = ContaSalario(10)
conta_salario_lele.deposita(500)

contas = [conta_salario_karol, conta_salario_lele, conta_salario_rafa]

In [206]:
conta_salario_karol < conta_salario_rafa

False

In [208]:
from functools import total_ordering

@total_ordering
class ContaSalario:

  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0

  def __eq__(self, outro):
    if type(outro) != ContaSalario:
      return False

    return self._codigo == outro._codigo and self._saldo == outro._saldo

  def __lt__(self, outro):
    if self._saldo != outro._saldo:
      return self._saldo < outro._saldo
    
    return self._codigo < outro._codigo

  def deposita(self, valor):
    self._saldo += valor

  def __str__(self):
    return "[>>Codigo {} Saldo {}<<]".format(self._codigo, self._saldo)

class ContaMultiploSalario(ContaSalario):
  pass

In [209]:
conta_salario_rafa = ContaSalario(1300)
conta_salario_rafa.deposita(500)

conta_salario_karol = ContaSalario(15)
conta_salario_karol.deposita(1000)

conta_salario_lele = ContaSalario(10)
conta_salario_lele.deposita(500)

contas = [conta_salario_karol, conta_salario_lele, conta_salario_rafa]

In [210]:
conta_salario_karol <= conta_salario_rafa

False

In [213]:
conta_salario_lele < conta_salario_rafa

True

In [214]:
conta_salario_lele <= conta_salario_rafa

True

In [216]:
conta_salario_rafa <= conta_salario_rafa

True

In [217]:
 conta_salario_rafa == conta_salario_rafa

True

In [218]:
 conta_salario_rafa < conta_salario_rafa

False